:root {
  font-family: 'American Typewriter', 'Courier New', serif;
  --light: rgba(223, 223, 223, 1);
  --dark: #1b1b1b;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  color: #609326;
  text-decoration: none;
}
a:hover {
  color: #ff5252; /* Red hover effect */
}

article {
  font-size: 1.2em;
  margin: 1em;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--light);
  font-family: "American Typewriter", "Courier Prime", Courier, monospace;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
  line-height: 1;
  font-weight: bold;
}

.form {
  padding: 20px; 
  background-color: #f9f9f9; 
  border-radius: 8px; 
  max-width: 500px; 
  margin: 10px auto; 
}

.form-group {
  margin-bottom: 20px;
  text-align: left; 
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #222222;
}

.form-group input, 
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #00aaaa;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto; 
}

button:hover {
  background-color: #008888;
}

.error-text {
  color: red;
  margin-top: 10px;
  text-align: center; /* Centers the error message */
}

.profile-footer {
  text-align: center;
  position: fixed;
  inset: auto 0 0 0;
  padding: 1em;
}

#port-photo {
  display: flex;
  justify-content: center; /* Horizontally centers the image */
  margin-bottom: 20px; /* Adds some space below the image */
}

#port-photo img {
  border: 2px solid #c0c0c0; /* Silver border like a dossier photo */
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  max-height: 300px;
}

.project-img {
  width: 250px; /* Set the default width to 250 pixels */
  height: auto; /* Maintain the aspect ratio */
  max-width: 100%;
}

.flexbody {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns across */
  gap: 20px; /* Space between the cards */
  margin-top: 20px; /* Space above the grid */
}

.card-header {
  background-color: var(--dark); /* Dark background */
  color: var(--light); /* Light text color */
  padding: 10px; /* Add some padding for better spacing */
  text-align: center; /* Center the text */
}

.card{
  width: 400px;
  border: 1;
}

.card-body {
  display: flex; 
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically, if needed */
  padding: 0px;
}

.card-footer{
  text-align: center; /* Center the repository link */
}

@media (max-width: 768px) {
  .flexbody {
    grid-template-columns: 1fr; /* 1 column on smaller screens */
  }

  .card {
    width: 90%; /* Ensure cards take up most of the width on mobile */
    margin-bottom: 20px;
  }
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

}